resources/fonts/SyneMono-Regular-60.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular-80.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Regular-30.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Regular.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular-30.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular-70.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular-40.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular-50.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Bold-50.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular-25.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular-30.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular-50.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Bold-60.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular-60.png filter=lfs diff=lfs merge=lfs -text
resources/graphics filter=lfs diff=lfs merge=lfs -text
