resources/fonts/SyneMono-Regular-60.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular-80.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Regular-30.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Regular.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular-30.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular-70.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular-40.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SyneMono-Regular-50.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Bold-50.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular-25.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular-30.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular-50.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Bold-60.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular-60.png filter=lfs diff=lfs merge=lfs -text
resources/graphics filter=lfs diff=lfs merge=lfs -text
resources/graphics/base-hexadecimal-standard.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/BaseTimeCaptureBinary.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/BaseTimeHero[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/BaseTimeHero[[:space:]]2.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/BaseTimeHero[[:space:]]3.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/BaseTimeHero[[:space:]]5.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/base-binary-standard.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/base-binary.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/base-decimal.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/BaseTimeCaptureTernary.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/BaseTimeHero[[:space:]]4.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/BaseTimeHero.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/SUSEMono-Bold-43.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/SUSEMono-Bold-30.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/Ubuntu-Regular-30.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/SUSEMono-Regular-77.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/SUSEMono-Bold-35.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/SUSEMono-Regular-84.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/SUSEMono-Bold-74.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/SUSEMono-Bold-19.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/SUSEMono-Bold-39.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/SUSEMono-Bold-39.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/SUSEMono-Regular-70.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/Ubuntu-Regular-45.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/SUSEMono-Bold-23.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/Ubuntu-Regular-39.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/SUSEMono-Bold-26.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/SUSEMono-Bold-51.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/SUSEMono-Bold-46.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/SUSEMono-Bold-60.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/SUSEMono-Regular-50.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/SUSEMono-Bold-77.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/Ubuntu-Regular-28.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/SUSEMono-Bold-49.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/SUSEMono-Regular-39.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/SUSEMono-Bold-64.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/Ubuntu-Regular-42.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/Ubuntu-Regular-23.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/SUSEMono-Bold-56.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/SUSEMono-Bold-25.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/SUSEMono-Regular-64.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/SUSEMono-Bold-47.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/SUSEMono-Regular-47.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/SUSEMono-Bold-23.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/SUSEMono-Bold-37.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/SUSEMono-Bold-97.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Bold-30.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/SUSEMono-Regular-43.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/SUSEMono-Bold-32.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/SUSEMono-Bold-89.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/Ubuntu-Regular-49.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/SUSEMono-Regular-60.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/SUSEMono-Regular-74.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/SUSEMono-Regular-89.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/SUSEMono-Regular-81.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/SUSEMono-Bold-28.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/SUSEMono-Bold-45.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/SUSEMono-Bold-50.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/SUSEMono-Bold-42.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/SUSEMono-Bold-84.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/SUSEMono-Regular-97.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/SUSEMono-Bold-81.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/SUSEMono-Bold-21.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/SUSEMono-Regular-46.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/SUSEMono-Regular-56.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/SUSEMono-Bold-70.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Bold-25.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/SUSEMono-Regular-51.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/Ubuntu-Regular-26.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/SUSEMono-Bold-41.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/SUSEMono-Bold-43.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/SUSEMono-Bold-16.png filter=lfs diff=lfs merge=lfs -text
resources/drawables/launcher_icon.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/SUSEMono-Bold-51.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/SUSEMono-Regular-32.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/SUSEMono-Bold-34.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/SUSEMono-Regular-57.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/SUSEMono-Bold-39.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/SUSEMono-Regular-32.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/SUSEMono-Bold-26.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/SUSEMono-Bold-32.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/SUSEMono-Regular-26.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/SUSEMono-Bold-57.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/Ubuntu-Regular-19.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/SUSEMono-Regular-31.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/SUSEMono-Bold-19.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/SUSEMono-Bold-29.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/SUSEMono-Bold-16.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/SUSEMono-Bold-21.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/SUSEMono-Regular-51.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/SUSEMono-Regular-39.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/SUSEMono-Regular-69.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/SUSEMono-Bold-32.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/Ubuntu-Regular-34.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/Ubuntu-Regular-16.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/SUSEMono-Bold-19.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/Ubuntu-Regular-19.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/SUSEMono-Bold-26.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/SUSEMono-Regular-43.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/SUSEMono-Regular-38.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/SUSEMono-Bold-13.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/SUSEMono-Bold-69.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/SUSEMono-Bold-31.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/SUSEMono-Bold-38.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/SUSEMono-Bold-16.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/Ubuntu-Regular-26.png filter=lfs diff=lfs merge=lfs -text
